lab1.aux
lab1.fdb_latexmk
lab1.fls
lab1.log
lab1.out
lab1.synctex.gz
lab2.aux
lab2.fdb_latexmk
lab2.fls
lab2.log
lab2.out
lab2.synctex.gz
lab2-intro.pdf
lab2-zad.pdf
breast-cancer-train.dat
breast-cancer-validate.dat
breast-cancer.labels
